*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Cinzel', serif;
    background:#000;
    color:#fff;
    overflow-x:hidden;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),
    url('https://images.unsplash.com/photo-1519741497674-611481863552?q=80&w=1600') center/cover;
}

.hero h1{
    font-size:5rem;
    font-family:'Great Vibes', cursive;
}

.hero h3{
    letter-spacing:8px;
    margin:15px 0;
}

.frase{
    margin-bottom:20px;
    font-size:1.5rem;
}

button,.btn{
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#d4af37;
    color:#000;
    font-weight:bold;
    cursor:pointer;
    text-decoration:none;
}
#convite{
    display:block;
    padding:60px 20px;
    background:#111;
}

.card{
    max-width:700px;
    margin:auto;
    background:#1b1b1b;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 30px rgba(212,175,55,.3);
}

.card h2,
.card h3{
    color:#d4af37;
    margin:20px 0 10px;
}

.botoes{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    margin-top:30px;
}

footer{
    text-align:center;
    padding:30px;
    background:#000;
    color:#d4af37;
}

.popup{
    display:none;
}
