*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Cinzel', serif;
    color:#fff;
    background:#090909;
    overflow-x:hidden;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.70)),
    url("https://images.unsplash.com/photo-1513151233558-d860c5398176?auto=format&fit=crop&w=1800&q=80");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.frase{
    font-size:28px;
    letter-spacing:2px;
    margin-bottom:25px;
    text-shadow:0 0 15px rgba(0,0,0,.8);
}

.hero h1{
    font-family:'Great Vibes',cursive;
    font-size:110px;
    color:#f7e4a8;
    text-shadow:0 0 20px rgba(255,215,0,.5);
}

.hero h3{
    margin-top:10px;
    letter-spacing:10px;
    color:#fff;
}

button,
.btn{

    display:inline-block;
    margin-top:25px;
    padding:16px 38px;
    border:none;
    border-radius:40px;
    background:linear-gradient(45deg,#d4af37,#f8df79);
    color:#111;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    transition:.3s;
}

button:hover,
.btn:hover{
    transform:scale(1.05);
}

#convite{
    padding:70px 20px;
    background:
    linear-gradient(#0b0b0b,#161616);
}

.card{

    max-width:850px;
    margin:auto;
